@use "../../styles/partials/variables" as *;

.sidekick {
  background-color: $seconday-light;
  padding: 3rem 7rem;
  position: relative;

  &__diagonalBot {
    position: absolute;
    top: 0;
    right: 0;
    width: 30rem;
  }

  &__heading {
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
  }

  &__feature {
    &s {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    display: flex;
    align-items: center;
    padding: 1rem 0;

    &-info {
      padding: 2rem;

      &-heading {
        font-size: 3rem;
        margin: 0;
      }

      &-paragraph {
        font-size: 1.5rem;
        width: 37rem;
      }
    }

    &-image {
      width: 15rem;
      height: 15rem;
    }
  }
}
