@use "../../styles/partials/variables" as *;

.navbar {
  background-color: $primary-dark;
  padding: 1rem 3rem;
  width: fill;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  &__logo {
    width: 150px;
  }

  &__search {
    height: 2rem;
    background-color: rgba(255, 255, 255, 20%);
    border: none;
    border-radius: 8px;
    padding: 0 1rem;
    color: $primary-light;
    width: 40%;
    max-width: 30rem;

    &::placeholder {
      color: gray;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 5rem;

    &-text {
      font-size: 1.25rem;
    }

    &-icon {
      width: 0.75rem;
      height: 0.75rem;
      margin-left: 5px;
      margin-top: 3px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 25px;
      width: 0;
      height: 2px;
      background-color: $light-blue;
      transition: width 0.3s ease;
    }

    &:hover:before {
      width: 66px;
    }
  }
}
