@use "../../styles/partials/variables" as *;

.footer {
  background-color: $primary-dark;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    font-size: 0.8rem;
    color: $primary-light;
  }

  &__logo {
    width: 10rem;
  }
}
